<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>SITE_ES</title>
	<link rel="stylesheet" href="css/estilos.css"/>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
	</script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>

<body>

	<!-- NAVIGATION BAR -->
	<nav class="navbar navbar-default navigation">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="main.html">Home</a></li>
					<li ><a href="dir.html">DIR</a></li>
					<li><a href="statistic.html">Statistics</a></li>
					<li class="active"><a href="historic.html">Historic</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#campainha"><i class="fa fa-bell"></i></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">#Nome User <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="newticket.html">New Ticket</a></li>
							<li><a href="tickets.html">Tickets</a></li>
							<li><a href="/">Log Out</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<section> 

		<div class="row">
			<div class="col-md-8 col-md-offset-2 list-table">

				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active historic-tab"><a href="#home" aria-controls="kaban-board" role="tab" data-toggle="tab">Historic
						<br><span class="">(20)</span></a></li>
					</ul>

					<div class="content">
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="kaban-board">

								<table class="table">
									<tr>
									<td class="primeiro">Ticket 1</td>
									<td class="primeiro"> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket1" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket1">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 2</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket2" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket2">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 3</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket3" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket3">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 4</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket4" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket4">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 5</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket5" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket5">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 6</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket6" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket6">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 7</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket7" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket7">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 8</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket8" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket8">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 9</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket9" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket9">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
								<tr> 
									<td>Ticket 10</td>
									<td> <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#ticket10" aria-expanded="false" aria-controls="collapseExample">
										Titulo/Assunto do Ticket
									</button>
									<div class="collapse" id="ticket10">
										<div class="well">
											Descrição do ticket
										</div>
									</div></td>
								</tr>
							</table>
						</div>

					</div>
					<div class="col-md-offset-2"></div>
				</div>
			</div>
		</div>
	</section>
</body>

			<script>
			$('#myTabs a').click(function (e) {
				e.preventDefault()
				$(this).tab('show')
			})
			</script>


			</html>